.selected {
    color: #5f5f5f;
}

.movieHeading {
    width: 68%;
    margin: 100px auto 0 auto;
}

.subtitle {
    margin: -20px auto 80px auto;
    font-weight: 300;
    font-size: 310%;
}

.spanTag-date {
    font-size: 38%;
    font-weight: 400;
    border-radius: 100px;
    border: 2px solid #82b7d5;
    background-color: #3893c8;
    padding: 9px 15px;
}

.subtitle-categor {
    display: flex;
    justify-content: left;
    width: 80%;
}

.subtitle-date {
    align-self: left;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.841);
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: #252525;
    filter: drop-shadow(0 2px 4px #000);
    padding: 9px 15px;
}

.announcing {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(220, 231, 255);
    line-height: 24px;
}

.available-movies {
    font-size: 20px;
    font-weight: 500;
}